
.top-section {
    background-image: url("images/concert.png"); 
    background-position: center;
    background-size: cover;
}
.heading {
    color: #4D4D4D !important;
}
.head-div {
    background-color: #fcfcf7;
}
.container1 {
    background-color: #fcfcf7;
    width: 100%;
}
.box {
    box-shadow: 0px 30px 60px 0px rgba(94, 103, 118, 0.1);
}
.box p {
    color: #4D4D4D;
}
.box span {
    color: #717171;
}