@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar {
    background-color: #263238;
    /* z-index: 1; */
    position: fixed;
    width: 100% !important;
}
.btn {
    background-color: #EC9A31;
    color: white;
    padding: 5.67px 10.68px;
    border-radius: 1.34px;
}
.btn:hover {
    background-color: #df9f4c;
    color: rgb(218, 207, 207);
}
.footer {
    background-color: #263238;
}
.footer-icon {
    background-color: rgb(79, 83, 87);
}


@media (max-width: 1024px) {
    .footer-icon {
        margin-right: 1.5rem !important;
        margin-bottom: 0.5rem !important;
    }
    .footer-div {
        margin-right: 3rem !important;
    }
    .column {
        gap: 70px !important;
        flex-direction: column;
    }

}

@media (max-width: 1224px) {
    .footer-icon {
        margin-right: 0.3rem !important;
        margin-bottom: 0.5rem !important;
    }
    .footer-div {
        margin-right: 2.3rem !important;
    }

}

@media (max-width: 540px) {
    .nav-div {
        padding-right: 40px;
        padding-left: 40px;
    }
}
